<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300" type="text/css" />
</head>
<body>
  <audio autoplay>
    <source src="assets/sound/yo.mp3" type="audio/mpeg">
  </audio>
    <div class="content">
        <div class="carousel">
          <figure>
            <img src="assets/images/yo.JPG" alt="">
            <img src="assets/images/mamaia-noaptea.jpg" alt="">
            <img src="assets/images/IMG_0259.JPG" alt="" class='md'>
            <img src="assets/images/IMG_0271.PNG" alt="">
            <img src="assets/images/IMG_0270.jpg" alt="">
            <img src="assets/images/IMG_0899.jpg" alt="">
            <img src="assets/images/IMG_3833.JPG" alt="">
            <img src="assets/images/IMG_0385.JPG" alt="">
          </figure>
          <nav>
            <button class="nav next">Next</button>
          </nav>
        </div>
</body>
</html>


